html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion {
    width: 640px;
    height: 920px;
    align-self: flex-end;
}
